<p id="notice"><%= notice %></p>

<h1 class="font-sub">Applies</h1>

<head>
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>
<div class="container-fluid">
<ul class="nav nav-bg img2-bg">
  <li class="nav-item">
    <div class="nav-link active" >
    
    </div>
  </li>
  </ul>
  </div>
  <div class="container pt-5 mt-5">
  <div class="row">
    <div class="col-6">
     
    <%= link_to 'New Apply', new_apply_path ,:class =>'homeFeaturesTitle font-edit'%>
    </div>
    <div class="col-6">

    <%= link_to 'follow up', seeall_path ,:class => 'homeFeaturesTitle font-edit' %>

    </div>
    </div>


<br>


