<p id="notice"><%= notice %></p>



<head>
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>
<div class="container-fluid ">
<ul class="nav nav-bg img2-bg">
  <li class="nav-item">
    <div class="nav-link active" >
    
    </div>
  </li>
  </ul>
  </div>
  <div class="container pt-5 mt-5 ">
  <div class="row justify-content-around">
    <div class="col-6 col-xlg-3">
        <div class="homeFeaturesTitle1">
            <%= link_to 'New Apply', new_apply_path ,:class =>'font-edit'%>
        </div>
    </div>
    <div class="col-6 col-xlg-3 ">
        <div class="homeFeaturesTitle1">
            <%= link_to 'follow up', seeall_path ,:class => 'font-edit' %>
        </div>
    </div>
    </div>
    </div>

<br>


