
<head>
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>
<%= link_to '  Back', applies_path %>
<div class="container-fluid">
<ul class="nav nav-bg img2-bg">
  <li class="nav-item">
    <div class="nav-link active" >
    
    </div>
  </li>
  </ul>
  </div>
<%= render 'form', apply: @apply %>

