
@import "bootstrap";
.med{
    width: 450px;
}
.last{
    text-align: center
}
.theBox{
    width: 1400px;
    margin-left: 25px;
    margin-top: 25px;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 .img-bg{
    width: 100%;
    height: 100%;
    background-image:  image-url("welcome.jpg");
    background-repeat: no-repeat;
     }
    
     .img1-bg{
        background-image:  image-url("Kids-colored-hands.png");
        background-position: center;
        margin: auto;
        width: 100%;
        padding: 10px;
        background-repeat: no-repeat;
     }
    
     .img2-bg{
        background-image:  image-url("header.png");
        background-position: center;
        margin: auto;
        width: 100%;
        padding: 10px;
        background-repeat: no-repeat;
     }

 .nav-bg{
     background-color:#ffb511;}

 .homeFeaturesTitle {
    background-color: #ffb511;
    padding: 0;
    color:black;
    display: inline-block;
    padding: 8px 41px;
    font-size: 30px;
    font-weight: 400;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 6px #ffb511;
    position: relative;
    margin-bottom: 30px;
}

.homeFeaturesTitle1 {
    background-color: #ffb511;
    text-align: center;
    display: inline-block;
    padding: 8px 41px;
    font-size: 30px;
    font-weight: 400;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 6px #ffb511;
    position: relative;
    margin-bottom: 30px;
    width:250px;
    height:100px;
    
}

.btn-control{
    background-color: #ffb511;
    display: inline-block;
    font-size: 30px;
    font-weight: 400;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 6px #ffb511;
    position: relative;
    height: 60px;
    width: 120px;
}

.font-edit{
    font-size: 29px;
    font-weight: 400;
    font-family: 'Indie Flower', cursive;
    letter-spacing: .0325em;
    color: #009da5;
}



.font-sub{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    letter-spacing: .0325em;
    color: #009da5;
    
}

.font-remember{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Indie Flower', cursive;
    letter-spacing: .0325em;
    color: #009da5;
}

.font-info{
    font-size: 40px;
    font-weight: 400;
    font-family: 'Indie Flower', cursive;
    letter-spacing: .0325em;
    color: black;
    
}

.container-fluid {

    padding-right: 0px; 
    padding-left: 0px; 
}


.nav{
    height: 300px;
    background-repeat: no-repeat;
   
}

body{
    background: rgb(177, 199, 194);
}

.center{
    padding-left: 150px;
}